<h1>Consume WebServices</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/courses" routerLinkActive="active" ariaCurrentWhenActive="page">Course List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/addcourse" >Add a Course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/addcourse" >Add a Course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/deletecourse/:id" >Add a Course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/courses/:id/edit" >Add a Course</a>
  </li>
</ul>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
